######################
# General
######################

# OS Files #
.DS_Store
*~


######################
# Windows
######################
 
# Windows image file caches
Thumbs.db 
 
# Folder config file
Desktop.ini
 

######################
# OSX
######################
 
.DS_Store
.svn
 
# Thumbnails
._*
 
# Files that might appear on external disk
.Spotlight-V100
.Trashes


######################
# Java
######################

# Package Files #
*.jar
*.war
*.ear
*.db
*.class

# Directories #
/build/
/bin/
target/


######################
# Maven
######################

log/
target/


######################
# Eclipse
######################

*target*
*.jar
*.war
*.ear
*.class

*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/
 
# Locally stored "Eclipse launch configurations"
*.launch
 
# CDT-specific
.cproject
 
# PDT-specific
.buildpath